<!DOCTYPE html>
<html>

<head><title>Hola! Esto es un spam!</title></head>
<body>
  Esto es un spam no tan molesto para <%= @user.complete_name %>.
  <%= link_to 'Click para ver algo interesante!', @url %>
  <%= image_tag attachments['user.png'].url %>
</body>
</html>