<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Username</th>
    <th>Password</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
		<th></th>
		<th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.username %></td>
    <td><%= user.password %></td>
    <td><%= user.admin %></td>
		<td><%= link_to 'Photos', user_photos_path(user.id), :remote => true, 'data-type' => :html, 'data-update-element' => 'ainsert_here' %></td>
		<td><%= link_to 'Albums', user_albums_path(user.id) %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<div id="insert_here"></div>
<br />

<%= link_to 'New User', new_user_path %>
