<% if flash[:notice] %>
	<p class="notice"><%= flash[:notice] %></p>
<% end %>

<div id="example_images">
	<%= image_tag 'placeholder.png' %>
</div>
<div id="login_form">
	<h1>Bienvenido a <span class="rickr"><span>Rick</span>r</span>!</h1>

	<h2>Ingresa con tu nombre de usuario y contraseña</h2>

	<%= form_for 'user', :url => login_path do |f| %>
		<div class="field">
			<%= f.label 'username' %>
			<%= f.text_field 'username', :placeholder => 'ej. raulmt' %>
		</div>
		<div class="field">
			<%= f.label 'password' %>
			<%= f.password_field 'password' %>
		</div>
		<%= f.submit 'Login' %>
	<% end %>
</div>
<div class="clear"></div>
<div id="steps">
  <div id="step1">
    Paso 1 
  </div><div id="step2">
    Paso 2
  </div><div id="step3">
    Paso 3
  </div>
</div>