<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :path %><br />
    <%= f.file_field :path %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.collection_select :user_id, User.all, :id, :complete_name %>
  </div>
	<div class="field">
		<%= label_tag 'Álbumes vinculados' %><br />
		<%= f.fields_for :albums_photos do |ap| %>
			<%= ap.label :album_id %>
			<%= ap.collection_select :album_id, Album.all, :id, :name, :include_blank => true %>
			<% if ap.object.album_id %>
				<%= ap.label '_destroy', 'Eliminar' %>
				<%= ap.check_box '_destroy' %>
			<% end %>
			<br />
		<% end %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
