<% content_for :header do  %>
  <h1>Fotos</h1>
<% end %>


<h1>Listado de fotos</h1>

<%= will_paginate @photos %>

<table>
  <tr>
    <th>Path</th>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
		<td><%= image_tag "uploads/#{photo.path}" %></td>
    <td><%= photo.name %></td>
    <td><%= photo.description %></td>
    <td><%= link_to photo.user.complete_name, photo.user %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @photos %>

<br />

<%= link_to 'New Photo', new_photo_path %>
