<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @photo.path %>
</p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>User:</b>
  <%= link_to @photo.user.complete_name, @photo.user %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
