/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, * {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 10px;
}
 
#logo {
	float: left;
}

#logo img {
	width: 100px;
}

#searchform {
	float: right;
}
 
#userbox {
	text-align: center;
}

#userbox img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

footer {
	text-align: center;
}

footer img {
	width: 50px;
	vertical-align: middle;
	margin-right: 5px;
}

hr {
	margin: 5px 0;
}

.clear {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	margin: 4px 0;
	line-height: normal;
}

h1 {
	margin: 10px 0;
}

h2 {
	margin: 7px 0;
}

span.rickr {
	color: #FF0084;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 30px;
}

span.rickr span {
	color: #0063DC;
}

div.field {
	margin: 15px 0;
}

div.field label {
	width: ;
}

input[type=text], input[type=password] {
	border: 1px solid #888;
	outline: none;
	padding: 5px;
  font-size: 14px;
	border-radius: 4px;
	box-shadow: 0px 0px 8px 0px #888;
	transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}

input[type=text]:focus, input[type=password]:focus {
	border: 1px solid #0063DC;
	box-shadow: 0px 0px 8px 0px #0063DC;
}

#loading {
  
  position: fixed;
  top: 0;
  left: 50%;
}

#loading div {
  background: yellow;
  margin-left: -50%;
  width: 100px;
}