/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#rollover {
  background: url('/assets/user.png');
  width: 100px;
  height: 100px;
}

#rollover:hover {
  background: url('/assets/placeholder.png');
}

#example_images {
	float: left;
	width: 48%;
  padding: 1%;
}

#example_images img {
	width: 100%;
}

#login_form {
	width: 48%;
	float: right;
  padding: 1%;
}

#steps div {
  display: inline-block;
  height: 80px;
  width: 33.3%;
  background: red;
  text-align: center;
  line-height: 80px;
}