<!DOCTYPE html>
<html>
	<head>
    <meta name="encoding" >
		<title>Rickr</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
    <div id="loading" style="display: none;"><div>Loading...</div></div>
		<div id="wrapper">
			<header>
        <div id="logo">
          <%= link_to root_path do %>
            <%= image_tag('placeholder.png', :alt => "Logo", :title => "Rickr") %>
          <% end %>
        </div>
				<div id="searchform">
					<%= form_for 'search' do |f| %>
						<%= f.text_field 'token' %>
						<%= f.submit 'Buscar' %>
					<% end %>
				</div>
				<div id="userbox">
					<% if current_user %>
						<%= image_tag 'user.png' %>
						<%= current_user.complete_name %>
					<% else %>
					  <p>Bienvenido, anónimo</p>
					<% end %>
				</div>
			</header>
        <hr class="clear" />
				<div id="content">
					<%= yield %>
				</div>
				<hr class="clear" />
				<footer>
					<p><%= image_tag 'placeholder.png' %>Rickr, todos los derechos reservados, 2011</p>
				</footer>
			</div>
	</body>
</html>
