<!DOCTYPE html>
<html>
	<head>
    <meta name="encoding" >
		<title>Rickr</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper">
        <% if content_for? :header %>
        <header>
          <%= content_for :header %>
        </header>
        <% end %>
      
        <hr class="clear" />
				<div id="content">
					<%= yield %>
				</div>
				<hr class="clear" />
				<footer>
					<p><%= image_tag 'placeholder.png' %>Rickr, todos los derechos reservados, 2011</p>
				</footer>
			</div>
	</body>
</html>
